[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asyncio = "*"
black = "*"
pytest = "*"
python-json-logger = "*"
logging-json = "*"
pytest-timeout = "*"
pydbus = "*"
pybluez = {editable = true, git = "https://github.com/pybluez/pybluez.git"}
flake8 = "*"
vext = "*"
pygobject = "*"

[dev-packages]

[requires]
python_version = "3.10"

[scripts]
fmt = """bash -c "
set -e -x
pipenv run black ./dabudimesh
"
"""
lint = """bash -c "
set -e -x
pipenv run flake8 ./dabudimesh
pipenv run black ./dabudimesh --check --diff
"
"""
lint-tests = """bash -c "
set -e -x
pipenv run flake8 ./tests
pipenv run black ./tests --check --diff
"
"""
fmt-tests = """bash -c "
set -e -x
pipenv run black ./tests
"
"""
